{% extends "layouts/app.html.twig" %}

{% block title %}404 Not Found{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Ooops!</h1>
        <p>Such page not found!</p>
    </div>
</div>

{% endblock %}
