{% extends "layouts/app.html.twig" %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Hyphenation Application</h1>
                <p class="lead">This is simple hyphenation application. Choose an option on navigation bar.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
